<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Photo and Video Libary</title>
</head>
<body>
  <h1>Photo and Video Libary</h1>
  <h2>Photos</h2>
  <h2>Videos</h2>
</body>
</html>